<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF" monitorInterval="3000">
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<!--<YAMLLayout pattern="%t-%highlight{%d{HH:mm:ss.SSS} %-5level %logger{36}.%M() @%L - %msg%n}{FATAL=Bright Red, ERROR=Bright Magenta, WARN=Bright Yellow, INFO=Bright Green, DEBUG=Bright Cyan, TRACE=Bright White}"/>-->
			<!--<PatternLayout pattern="%clr{%d{yyyy-MM-dd HH:mm:ss.SSS}}{faint} %clr{%5p} %clr{${sys:PID}}{magenta} %clr{-&#45;&#45;}{faint} %clr{[%15.15t]}{faint} %clr{%-40.40c{1.}}{cyan} %clr{:}{faint} %m%n${%xwEx}" />-->
			<!--<PatternLayout charset="UTF-8"
			               pattern="%highlight{%d{HH:mm:ss,SSS} }{FATAL=Bright Red, ERROR=Bright Magenta, WARN=Bright Yellow, INFO=Bright Green, DEBUG=Bright Cyan, TRACE=Bright White}"/>-->
			<PatternLayout charset="UTF-8"
			               pattern="%style{[%4sn]}{BG,Green} %highlight{%d -- %-5level--}{FATAL=Bright Red, ERROR=Bright RED, WARN=Bright Yellow, INFO=Bright Green, DEBUG=Bright Cyan, TRACE=Bright White} %blue{[%T]-[%t]}  %style{%10.50c}{bright,cyan} : %msg%n%throwable"/>
		</Console>
	</appenders>
	<loggers>
        <logger name="org.springframework" level="info" additivity="false"/>
        <logger name="org.fan.demo.dynamic.dao" level="debug" additivity="false"/>
		<root level="debug">
			<appender-ref ref="Console"/>
		</root>
	</loggers>
</configuration>