<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF" monitorInterval="30000">
  <Properties>
    <property name="path">./logs</property>
    <property name="projectName">app</property>
  </Properties>
  <appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <!--<YAMLLayout pattern="%t-%highlight{%d{HH:mm:ss.SSS} %-5level %logger{36}.%M() @%L - %msg%n}{FATAL=Bright Red, ERROR=Bright Magenta, WARN=Bright Yellow, INFO=Bright Green, DEBUG=Bright Cyan, TRACE=Bright White}"/>-->
      <!--<PatternLayout pattern="%clr{%d{yyyy-MM-dd HH:mm:ss.SSS}}{faint} %clr{%5p} %clr{${sys:PID}}{magenta} %clr{-&#45;&#45;}{faint} %clr{[%15.15t]}{faint} %clr{%-40.40c{1.}}{cyan} %clr{:}{faint} %m%n${%xwEx}" />-->
      <!--<PatternLayout charset="UTF-8"
                     pattern="%highlight{%d{HH:mm:ss,SSS} }{FATAL=Bright Red, ERROR=Bright Magenta, WARN=Bright Yellow, INFO=Bright Green, DEBUG=Bright Cyan, TRACE=Bright White}"/>-->
      <PatternLayout charset="UTF-8">
        <Pattern>
          %style{[%4sn]}{BG,Green} %highlight{%d -- %-5level--}{FATAL=Bright Red, ERROR=Bright RED, WARN=Bright Yellow, INFO=Bright Green, DEBUG=Bright Cyan, TRACE=Bright White} %blue{[%T]-[%t]} %style{%c{1.}}{bright,cyan}: %msg%n%throwable
        </Pattern>
      </PatternLayout>
    </Console>
    <RollingFile name="DEBUG_ROLLING" fileName="${path}/${projectName}-debug.log"
      filePattern="${path}/$${date:yyyy-MM}/$${date:dd}/debug/${projectName}-%d{yyyy-MM-dd}-debug-%i.log">
      <PatternLayout charset="UTF-8" pattern="%d %p [%t] %C.%M(%L) | %m%n%throwable"/>
      <Policies>
        <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
        <SizeBasedTriggeringPolicy size="20 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="50">
        <!--删除超过60天的日志-->
        <Delete basePath="${path}" maxDepth="4">
          <IfFileName regex="(.)+app(.)*\.log$"/>
          <IfLastModified age="10d"/>
        </Delete>
      </DefaultRolloverStrategy>
      <Filters>
        <ThresholdFilter level="debug" onMatch="ACCEPT"
          onMismatch="DENY"/>
      </Filters>
    </RollingFile>
  </appenders>
  <loggers>
    <logger name="org.springframework" level="info" additivity="false">
      <AppenderRef ref="Console"/>
    </logger>
    <root level="debug">
      <appender-ref ref="Console"/>
      <appender-ref ref="DEBUG_ROLLING"/>
    </root>
  </loggers>
</configuration>